
<table class="tx-rere" >
	<tr>
		<td>
			<f:translate key="tx_rere_domain_model_note.wert" />
		</td>
		<td>
			{note.wert}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rere_domain_model_note.kommentar" />
		</td>
		<td>
			{note.kommentar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rere_domain_model_note.fach" />
		</td>
		<td>
			{note.fach}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rere_domain_model_note.pruefling" />
		</td>
		<td>
			{note.pruefling}
		</td>
	</tr>
</table>