
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Pruefling</h1>

<f:flashMessages />

<table  class="tx_kaka" >
	<tr>
		<th><f:translate key="tx_kaka_domain_model_pruefling.matrikelnr" /></th>
		<th><f:translate key="tx_kaka_domain_model_pruefling.vorname" /></th>
		<th><f:translate key="tx_kaka_domain_model_pruefling.nachname" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{prueflings}" as="pruefling">
		<tr>
			<td><f:link.action action="show" arguments="{pruefling : pruefling}"> {pruefling.matrikelnr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{pruefling : pruefling}"> {pruefling.vorname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{pruefling : pruefling}"> {pruefling.nachname}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{pruefling : pruefling}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{pruefling : pruefling}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Pruefling</f:link.action>
</f:section>