<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
		    <li><f:translate key="tx_rere_Text.JohnerInstitut.neuerMasterstudiengang"/></li>
                    <li class="active">{title}</li>
                </ol>
            </div>

            <div class="col-md-3">
		<f:form action="create" name="newMasterstudiengang" object="{newMasterstudiengang}">
		    <f:form.textfield name="name" required="1" class="form-control" placeholder="<f:translate key='tx_rere_Text.JohnerInstitut.Masterstudiengang.Name' />"/>
		    <br>
		    <button type="submit" class="btn btn-primary btn-lg btn-block"><f:translate key="tx_rere_button.sichern" /></button>
		</f:form>
            </div>


	    <div class="col-md-9">
		<table  class="table tx_rere" >
		    <tr>
			<th><f:translate key="tx_rere_Text.JohnerInstitut.Masterstudiengang.Name" /></th>
		    <th> </th>
		    <th> </th>
		    </tr>

		    <f:for each="{masterstudiengangs}" as="masterstudiengang">
			<tr>
			    <td>{masterstudiengang.name}</td>
			    <td><f:link.action action="edit" arguments="{pruefling : pruefling}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{pruefling : pruefling}">Delete</f:link.action></td>
			</tr>
		    </f:for>
		</table>
	    </div>

        </div>

    </div>

</f:section>