<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active">Fach hinzufügen</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Fach hinzufügen</h1>
                <br>
            </div>
        </div>

        <f:render partial="FormErrors" />

        <f:form action="create" name="newFach" object="{newFach}">

            <div class="row">
                <div class="col-md-8">
                    <!--Eingabefeld für Modul-->
                    <div class="form-group">
                        <label for="eingabefeldModul" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.modulname" /> <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <f:form.textfield value="{modulname}" class="form-control" disabled="disabled" placeholder="Modulname"/>
                            <f:form.hidden  value="{moduluid}" name="moduluid" class="form-control" />
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für ModulNr-->
                    <div class="form-group">
                        <label for="eingabefeldModulnummer" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.modulnr" /> <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <f:form.textfield value="{modulnummer}" name="modulnummer" class="form-control" disabled="disabled" placeholder="Modulnummer"/>
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gueltigkeitszeitraum" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.gueltigkeitszeitraum" /> <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <f:form.textfield value="{gueltigkeitszeitraum}" disabled="disabled" class="form-control" placeholder="Gültigkeitszeitraum"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für Fach-->
                    <div class="form-group">
                        <label for="eingabefeldFach" class="col-sm-3 control-label">Fach *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="fachname" class="form-control gettooltip" placeholder="Fach" title="Fachname hier eingeben"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für FachNr-->
                    <div class="form-group">
                        <label for="eingabefeldFachnummer" class="col-sm-3 control-label">Fachnummer *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="fachnummer" class="form-control gettooltip" placeholder="Fachnummer" title="Fachnummer hier eingeben"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für Professor-->
                    <div class="form-group">
                        <label for="eingabefeldProfessor" class="col-sm-3 control-label">Professor *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="pruefer" class="form-control gettooltip" placeholder="Professor" title="Für das Fach verantwortlicher Professor"/>
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3">
                            <!--Radiobutton für Benotet 15 Pkt. System-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="benotet15" checked="1" title="Modul nach 15 Punkte System benotet - System default !"/>
                                    Benotet (15 Pkt. System)
                                </label>
                            </div>
                            <!--Radiobutton für unbenotet-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="unbenotet" title="Modul unbenotet"/>
                                    Unbenotet
                                </label>
                            </div>
                            <!--Radiobutton für Benotet Schulnoten-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="benotetschulnoten" title="Modul nach Schulnotensystem benotet"/>
                                    Benotet (Schulnoten)
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-sm-12">
                        <br>
                        <strong>Die mit * gekennzeichnete Felder sind Pflichtfelder</strong>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Daten speichern</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                </div>
            </div>
        </f:form>
    </div>
</f:section>