<!DOCTYPE html>
<!--
HTML Code für den Löschen-Bestätigungs Dialog, der bei allen seiten gleich ist.
-->
<!--- Popup Confirm -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popuplabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popupTitle"></h4>
            </div>
            <div class="modal-body">
                <span class="popuptext"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="" id="delbuttonmodal" class="btn btn-default" >Delete</a>
            </div>
        </div>
    </div>
</div>