
<f:layout name="rere" />
<f:section name="content">
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Result Repository</li>
                </ol>
            </div>
            <div class="col-md-4">
                <h1>Result Repository</h1>
            </div>

            <div class="col-md-8">
                <br>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><f:link.action controller="Pruefling" class="gettooltip" action="new" title="<f:translate key='tx_rere_title.PrueflingAnlegen'/>"><f:translate key="tx_rere_Startseite.PrueflingAnlegen"/></f:link.action></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Import <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><f:link.action controller="Import" action="new" arguments="{type:'prueflinge'}" ><f:translate key="tx_rere_Startseite_Import.Prueflinge"/></f:link.action></li>
                                <!--<li><f:link.action controller="Import" action="new" arguments="{type:'backup'}" ><f:translate key="tx_rere_Startseite_Import.BackUp"/></f:link.action></li>-->
                            </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Export <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><f:link.action controller="Export" action="exportPrueflinge" ><f:translate key="tx_rere_Startseite_Export.Prueflinge"/></f:link.action></li>
                            <li><f:link.action controller="Export" action="exportModuleUndFaecher" ><f:translate key="tx_rere_Startseite_Export.ModuleUndFaecher"/></f:link.action></li>
                            </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><f:translate key="tx_rere_Startseite.IntervallEinstellen"/><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><f:link.action action="update" id="studienhalbjahr" controller="Intervall" arguments="{type:'studienhalbjahr'}" ><f:translate key="tx_rere_Startseite_IntervallEinstellen.Studienhalbjahr"/> <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></f:link.action></li>
                            <li><f:link.action action="update" id="schuljahr" controller="Intervall" arguments="{type:'schuljahr'}" ><f:translate key="tx_rere_Startseite_IntervallEinstellen.Schuljahr"/><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></f:link.action></li>
                            </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><f:translate key="tx_rere_Startseite.Hilfe"/><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="http://docs.typo3.org/typo3cms/extensions/rere/Index.html" target="_blank">Doku</a></li>
                                    <li><a href="http://docs.typo3.org/typo3cms/extensions/rere/AnwenderDokuPruefer/Index.html" target="_blank"><f:translate key="tx_rere_Startseite_Hilfe.Anwenderdoku"/></a></li>
                                    <li><a href="http://docs.typo3.org/typo3cms/extensions/rere/AdministratorManual/Index.html" target="_blank"><f:translate key="tx_rere_Startseite_Hilfe.Entwicklerdoku"/></a></li>
                                    <li><a href="{f:uri.resource(path:'phpdoc/index.html')}" target="_blank"><f:translate key="tx_rere_Startseite_Hilfe.PHPdoc"/></a></li>
                                </ul>
                            </li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li><f:link.action controller="Settings" class="gettooltip" action="edit" title="<f:translate key='tx_rere_title.Einstellungsmenue'/>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></f:link.action></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Prueft welcher IntervallTyp aktuell ist und setzt abhaengig davon den gruenen Haken -->
        <f:if condition="{intervallType}=='studienhalbjahr'" >
            <f:then>
                <script type="text/javascript">
                    $("#studienhalbjahr span").addClass("aciveinterval");
                            $("#schuljahr span").addClass("inactiveinterval");</script>
            </f:then>
            <f:else>
                <script type="text/javascript">
                            $("#schuljahr span").addClass("aciveinterval");
                            $("#studienhalbjahr span").addClass("inactiveinterval");</script>
            </f:else>
        </f:if>

        <div class="row">
            <div class="col-md-3">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav">
                                <li><f:link.action action="update" controller="Intervall" class="gettooltip" arguments="{prevIntervall:'prevIntervall'}"  title="<f:translate key='tx_rere_title_Intervall.vorherig'/>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></f:link.action></li>
                                <li><h4 class="navbarposition">{aktuellintervall}</h4></li>
                                <li><f:link.action action="update" controller="Intervall" class="gettooltip" arguments="{nextIntervall:'nextIntervall'}"  title="<f:translate key='tx_rere_title_Intervall.naechstes'/>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></f:link.action></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group tx_rere" id="accordion" role="tablist">
                    <f:for each="{moduls}" as="modul">
                        <div class="panel panel-default" role="tablist">
                            <div class="panel-heading" role="tab" id="{modul.name}">
                                <div class="panel-title">
                                    <span class="col-md-8 modultitle">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{modul.modulnr}" aria-expanded="false" aria-controls="collapse{modul.name}">{modul.modulname} ({modul.modulnr})</a>
                                    </span>
                                    <span class="col-md-4">

                                        <f:if condition='{modul.fach}'>
                                            <f:then><span class='delhinweis'><f:translate key="tx_rere_Text.ModulFachloeschen"/></span></f:then>
                                            <f:else>
                                                <f:link.action class="delete btn btn-default modulloeschenbutton" action="delete" onclick="delentry('{f:translate(key: 'tx_rere_Text_Modul.ModulLoeschen')}', $(this).attr('href'));
                                                                    return false;" arguments="{modul : modul}" ><f:translate key="tx_rere_Text.Loeschen"/></f:link.action>
                                            </f:else>
                                        </f:if>
                                    </span>
                                </div>
                            </div>
                            <div id="{modul.modulnr}" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <ul>
                                        <f:for each="{modul.fach}" as="fach">
                                            <li><span class="col-md-4">{fach.fachname} ({fach.fachnr}) - {fach.pruefer}</span> <span class="col-md-7">
                                                    <f:link.action controller="Note" class="gettooltip" action="list" arguments="{fach : fach, modul: modul.uid}" title="<f:translate key='tx_rere_Text_Fach.NoteEintragen'/>"><f:translate key="tx_rere_Text_Fach_Text.NoteEintragen"/></f:link.action> |
                                                    <f:link.action controller="Pruefling" arguments="{fach : fach, modul: modul.uid}" class="gettooltip" action="list" title="<f:translate key='tx_rere_Text_Fach.PrueflingZuweisen'/>"><f:translate key="tx_rere_Text_Fach_Text.PrüflingZuweisen"/></f:link.action> |
                                                    <f:link.action class="delete gettooltip" controller="Fach" action="delete"
                                                                   onclick="delentry('{f:translate(key: 'tx_rere_Text_Fach.FachLoeschen')}',
                                                                                       $(this).attr('href'));
                                                                                       return false;" arguments="{fach : fach.uid}" title="<f:translate key='tx_rere_Text_Fach.FachUndNoteLoeschen'/>">
                                                        <span class="gettooltip glyphicon glyphicon-remove" aria-hidden="true">
                                                        </span>
                                                    </f:link.action>
                                                </span>
                                            </li>
                                        </f:for>
                                    </ul>
                                    <f:link.action controller="Fach" class="gettooltip btn btn-default addfachbtn" arguments="{modul:modul,gueltigkeitszeitraum:aktuellintervall}" action="new" title="<f:translate key='tx_rere_Text.FachZuModulHinzufuegen'/>"><f:translate key="tx_rere_button.FachHinzufuegen"/></f:link.action>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <f:link.action controller="Modul" class="gettooltip btn btn-default" action="new" arguments='{gueltigkeitszeitraum:aktuellintervall}' title="<f:translate key='tx_rere_Text.ModulAnlegen'/>"><f:translate key="tx_rere_button.ModulAnlegen"/></f:link.action>
            </div>
        </div>
    </div>

    <!-- Laedt den Code fuer den Bestaetigungs Dialog-->
    <f:render partial="LoeschenDialog" />
</f:section>