
<f:layout name="Rere" />

<f:section name="content">
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Result Repository</li>
                </ol>
            </div>
            <div class="col-md-4">
                <h1>Result Repository</h1>
            </div>

            <div class="col-md-8">
                <br>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><f:link.action controller="Pruefling" class="gettooltip" action="new" title="Legt einen neuen Prüfling an">Prüflinge anlegen</f:link.action></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Import <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><f:link.action controller="Import" action="new" arguments="{type:'prueflinge'}" >Import Prüflinge</f:link.action></li>
                                <li><f:link.action controller="Import" action="new" arguments="{type:'backup'}" >Import Back-Up</f:link.action></li>
                            </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Export <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><f:link.action controller="Export" action="exportPrueflinge" >Prüflinge</f:link.action></li>
                            <li><f:link.action controller="Export" action="exportModuleUndFaeche" >Module und Fächer</f:link.action></li>
                            </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Intervall einstellen<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Studienhalbjahr <span class="glyphicon glyphicon-ok-circle acivetype" aria-hidden="true"></span></a></li>
                                    <li><a href="#">Schuljahr <span class="glyphicon glyphicon-ok-circle inactivetype" aria-hidden="true"></span></a></li>
                                </ul>
                            </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav">
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Zu SS14"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                                <li><h4 class="navbarposition">WS14/15</h4></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Zu SS15"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group tx_rere" id="accordion" role="tablist">
                    <f:for each="{moduls}" as="modul">
                        <div class="panel panel-default" role="tablist">
                            <div class="panel-heading" role="tab" id="{modul.name}">
                                <div class="panel-title">
                                    <span class="col-md-8 modultitle">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{modul.modulnr}" aria-expanded="false" aria-controls="collapse{modul.name}">{modul.modulname} ({modul.modulnr})</a>
                                    </span>
                                    <span class="col-md-4">
                                        <f:link.action class="delete btn btn-default modulloeschenbutton" action="delete" onclick="delentry('Wollen Sie das Modul mit allen zugehoerenden Faechern und Noten wirklich löschen?', $(this).attr('href'));
                                                return false;" arguments="{modul : modul}" title="Dieses Modul und die zugeordneten Fächer löschen">Löschen</f:link.action>
                                    </span>
                                </div>
                            </div>
                            <div id="{modul.modulnr}" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <ul>
                                        <f:for each="{fachs}" as="fach">
                                            <li><span class="col-md-4">{fach.fachname}</span> <span class="col-md-7">
                                                    <f:link.action controller="Note" class="gettooltip" action="list" arguments="{fach : fach, modul: modul.uid}" title="Noten eintragen oder anzeigen">Noten eintragen/anzeigen</f:link.action> |
                                                    <f:link.action controller="Pruefling" arguments="{fach : fach, modul: modul.uid}" class="gettooltip" action="list" title="Prüflinge zu diesem Fach zuweisen">Prüflinge zuweisen</f:link.action> |
                                                    <f:link.action class="delete" controller="Fach" action="delete" onclick="delentry('Wollen Sie das Fach mit allen zugehörenden Noten wirklich löschen?',
                                                                    $(this).attr('href'));
                                                            return false;" arguments="{fach : fach}" title="Fach und die eingetragenen Noten löschen">
                                                        <span class="gettooltip glyphicon glyphicon-remove" aria-hidden="true">
                                                        </span>
                                                    </f:link.action>
                                                </span>
                                            </li>
                                        </f:for>
                                    </ul>
                                    <!-- controller und action ?? wie, dass zu modul zugeordnet? -->
                                    <f:link.action controller="Fach" class="gettooltip btn btn-default addfachbtn" arguments="{modul:modul}" action="new" title="Ein Fach zu diesem Modul hinzufügen">Fach hinzufügen</f:link.action>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <f:link.action controller="Modul" class="gettooltip btn btn-default" action="new" title="Legt ein neues Modul an">Modul anlegen</f:link.action>
            </div>
        </div>
    </div>

    <!-- Lädt den Code für den Bestätigungs Dialog-->
    <f:render partial="LoeschenDialog" />

</f:section>