
<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="Index.html">Index</a></li>
                    <li class="active">Modul/Fach hinzufügen</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Modul / Fach hinzufügen</h1>
                <br>
            </div>
        </div>

        <f:render partial="FormErrors" />

        <f:form action="create"  name="newModul" object="{newModul}">

            <!--FORM von ModulFachHinzufuegen.html-->
            <div class="row">
                <div class="col-md-7">
                    <form class="form-horizontal" role="form">

                        <!--Eingabefeld für Modul-->
                        <div class="form-group">
                            <label for="eingabefeldModul" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.modulname" /> <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                <f:form.textfield property="modulname" class="form-control" id="eingabefeldModul" placeholder="Modulname" title="Modulname hier eingeben"/>
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für ModulNr-->
                        <div class="form-group">
                            <label for="eingabefeldModulnummer" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.modulnr" /> <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                <f:form.textfield property="modulnr" class="form-control" id="eingabefeldModulnummer" placeholder="Modulnummer" title="Modulnummer hier eingeben"/>
                                <br>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gueltigkeitszeitraum" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.gueltigkeitszeitraum" /> <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                <f:form.textfield property="gueltigkeitszeitraum"  value="{modul.gueltigkeitszeitraum->f:format.date()}" class="form-control" id="gueltigkeitszeitraum" placeholder="Gültigkeitszeitraum" title="Gültigkeitszeitraum eingeben"/>
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für Fach-->
                        <div class="form-group">
                            <label for="eingabefeldFach" class="col-sm-3 control-label">Fach *</label>
                            <div class="col-sm-9">
                                <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                <input type="text" class="form-control" id="eingabefeldFach" placeholder="Fach" required title="Fachname hier eingeben">
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für FachNr-->
                        <div class="form-group">
                            <label for="eingabefeldFachnummer" class="col-sm-3 control-label">Fachnummer *</label>
                            <div class="col-sm-9">
                                <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                <input type="text" class="form-control" id="eingabefeldFachnummer" placeholder="Fachnummer" required title="Fachnummer hier eingeben">
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für Professor-->
                        <div class="form-group">
                            <label for="eingabefeldProfessor" class="col-sm-3 control-label">Professor *</label>
                            <div class="col-sm-9">
                                <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                <input type="text" class="form-control" id="eingabefeldProfessor" placeholder="Professor" required title="Für das Fach zuständiger Professor">
                                <br>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <!--Radiobutton für Benotet 15 Pkt. System-->
                                <div class="col-sm-12">
                                    <label>
                                        <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                        <input type="radio" name="optionsfeldRadio" checked id="benotet15" value="option1" title="Modul nach 15 Punkte System benotet - System default !">
                                        Benotet (15 Pkt. System)
                                    </label>
                                </div>
                                <!--Radiobutton für unbenotet-->
                                <div class="col-sm-12">
                                    <label>
                                        <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                        <input type="radio" name="optionsfeldRadio" id="unbenotet" value="option2" title="Modul unbenotet">
                                        Unbenotet
                                    </label>
                                </div>
                                <!--Radiobutton für Benotet Schulnoten-->
                                <div class="col-sm-12">
                                    <label>
                                        <!--OHNE data-toggle="tooltip" data-placement="bottom"-->
                                        <input type="radio" name="optionsfeldRadio" id="benotetschulnoten" value="option3" title="Modul nach Schulnotensystem benotet">
                                        Benotet (Schulnoten)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-offset-3 col-sm-12">
                            <br>
                            <strong>Die mit *) gekennzeichnete Felder sind Pflichtfelder</strong>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                            </div>
                            <div class="col-sm-4">
                                <f:form.submit value="Daten speichern" class="btn btn-primary btn-lg btn-block"/>
                            </div>
                        </div>

                    </form>

                    <div class="col-md-5">
                    </div>
                </div>
            </div>
            ´
        </f:form>
</f:section>