
<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active"><f:translate key="tx_rere_Ueberschrift.FachModul"/></li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1><f:translate key="tx_rere_Ueberschrift.FachModul"/></h1>
                <br>
            </div>
        </div>
        <f:render partial="FormErrors" />

        <f:form action="create" name="newModul" object="{newModul}">

            <div class="row">
                <div class="col-md-8">
                    <!--Eingabefeld für Modul-->
                    <div class="form-group">
                        <label for="eingabefeldModul" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.modulname" /> <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <f:form.textfield property="modulname" required="1" class="form-control gettooltip" id="eingabefeldModul" placeholder="<f:translate key="tx_rere_Placeholder.Modulname"/>" value='{modulname}' title="<f:translate key="tx_rere_title.Modul"/>" />
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für ModulNr-->
                    <div class="form-group">
                        <label for="eingabefeldModulnummer" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.modulnr" /> <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <f:form.textfield property="modulnr" required="1" class="form-control gettooltip" id="eingabefeldModulnummer" placeholder="<f:translate key="tx_rere_Placeholder.Modulnummer"/>" value='{modulnummer}' title="<f:translate key="tx_rere_title.Modulnummer"/>" />
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gueltigkeitszeitraum" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_modul.gueltigkeitszeitraum" /> <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <f:form.textfield property="gueltigkeitszeitraum" required="1" value="{gueltigkeitszeitraum}" class="form-control gettooltip" id="gueltigkeitszeitraum" placeholder="<f:translate key="tx_rere_Placeholder.Gueltigkeitszeitraum"/>" title="<f:translate key="tx_rere_title.Gueltigkeitszeitraum"/>" />
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für Fach-->
                    <div class="form-group">
                        <label for="eingabefeldFach" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_fach" /> *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="fachname" required="1" class="form-control gettooltip" placeholder="<f:translate key="tx_rere_Placeholder.Fach" />" title="<f:translate key="tx_rere_title.Fach" />"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für FachNr-->
                    <div class="form-group">
                        <label for="eingabefeldFachnummer" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_fach.fachnr" /> *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="fachnummer" required="1" class="form-control gettooltip" placeholder="<f:translate key="tx_rere_Placeholder.Fachnummer" />" title="<f:translate key="tx_rere_title.Fachnummer" />"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für Professor-->
                    <div class="form-group">
                        <label for="eingabefeldProfessor" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_fach.professor" /> *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="pruefer" required="1" class="form-control gettooltip" placeholder="<f:translate key="tx_rere_Placeholder.Professor" />" title="<f:translate key="tx_rere_title.Professor" />"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für Datum-->
                    <div class="form-group">
                        <label for="eingabefeldDatum" class="col-sm-3 control-label"><f:translate key="tx_rere_domain_model_fach.PruefungsDatum" /> *</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="datum" required="1" class="form-control gettooltip" id="eingabefeldDatum" placeholder="<f:translate key="tx_rere_Placeholder.Datum" />" value="{datum}" title="<f:translate key="tx_rere_title.Datum" />"/>
                            <br>
                        </div>
                    </div>

                    <!--Eingabefeld für Creditpoints-->
                    <div class="form-group">
                        <label for="eingabefeldCreditpoints" class="col-sm-3 control-label">Creditpoints</label>
                        <div class="col-sm-9">
                            <f:form.textfield name="creditpoints" required="1" class="form-control gettooltip" id="eingabefeldCreditpoints" placeholder="Creditpoints" value="{creditpoints}" title="<f:translate key="tx_rere_title.Creditpoints" />"/>
                            <br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3">
                            <!--Radiobutton für Benotet Hochschulsystem-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="hochschulsystem" checked="1"  title="<f:translate key="tx_rere_title.BenotetHochschulSystem" />"/>
                                    <f:translate key="tx_rere_text.BenotetHochschulSystem" />
                                </label>
                            </div>
                            <!--Radiobutton für Benotet 15 Pkt. System-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="15pktsystem" title="<f:translate key="tx_rere_title.BenotetPunkteSystem" />"/>
                                    <f:translate key="tx_rere_text.BenotetPunkteSystem" />
                                </label>
                            </div>
                            <!--Radiobutton für unbenotet-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="unbenotet" title="<f:translate key="tx_rere_title.UnbenotetSchein" />"/>
                                    <f:translate key="tx_rere_text.UnbenotetSchein" />
                                </label>
                            </div>
                            <!--Radiobutton für Benotet Schulnoten-->
                            <div class="col-sm-12">
                                <label>
                                    <f:form.radio class="gettooltip" name="notenschema" value="schulsystem" title="tx_rere_title.BenotetSchulSystem"/>
                                    <f:translate key="tx_rere_text.BenotetSchulSystem" />
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-offset-3 col-sm-12">
                            <br>
                            <strong><f:translate key="tx_rere_Text.Pflichtfelder" /></strong>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"><f:translate key="tx_rere_button.sichern" /></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                    </div>
                </div>
        </f:form>
    </div>
</f:section>
