
<label for="fachnr">
	<f:translate key="tx_rere_domain_model_fach.fachnr" />
</label><br />
	<f:form.textfield property="fachnr" /><br />
<label for="fachname">
	<f:translate key="tx_rere_domain_model_fach.fachname" />
</label><br />
	<f:form.textfield property="fachname" /><br />
<label for="pruefer">
	<f:translate key="tx_rere_domain_model_fach.pruefer" />
</label><br />
	<f:form.textfield property="pruefer" /><br />
<label for="notenschema">
	<f:translate key="tx_rere_domain_model_fach.notenschema" />
</label><br />
	<f:form.textfield property="notenschema" /><br />