
<label for="fachnr">
	<f:translate key="tx_rere_domain_model_fach.fachnr" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fachnr" /><br />
<label for="fachname">
	<f:translate key="tx_rere_domain_model_fach.fachname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fachname" /><br />
<label for="pruefer">
	<f:translate key="tx_rere_domain_model_fach.pruefer" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="pruefer" /><br />
<label for="notenschema">
	<f:translate key="tx_rere_domain_model_fach.notenschema" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="notenschema" /><br />