<f:be.container>
    <f:render/>
    <script src="{f:uri.resource(path:'js/jquery-2.1.1.min.js')}" type="text/javascript"></script>
    <script src="{f:uri.resource(path:'js/bootstrap.js')}" type="text/javascript"></script>
    <script src="{f:uri.resource(path:'js/jquery.tablesorter.min.js')}" type="text/javascript"></script>
    <!-- Chart JS -->
    <script src="{f:uri.resource(path:'js/Chart.min.js')}" type="text/javascript"></script>
    <link href="{f:uri.resource(path:'css/resultrepository.css')}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap -->
    <link href="{f:uri.resource(path:'css/bootstrap.min.css')}" rel="stylesheet">
    <!-- JS for Noteverwaltung.html -->
    <script src="{f:uri.resource(path:'js/noteverwaltung.js')}" type="text/javascript"></script>

    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh />
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Result Repository" controller="" action="list" />
                        <f:be.menus.actionMenuItem label="Neues Modul/Fach" action="new" controller="Modul" />
                        <f:be.menus.actionMenuItem label="Notenverwaltung" action="list" controller="Note" />
                        <f:be.menus.actionMenuItem label="Prüfling anlegen" action="new" controller="Pruefling" />
                        <f:be.menus.actionMenuItem label="Prüfling zuweisen" action="list" controller="Pruefling" />
                    </f:be.menus.actionMenu>
                </div>
                <div class="right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">

                </div>
                <div class="right">
                    <f:be.buttons.shortcut />
                </div>
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:flashMessages renderMode="div" />
                <f:render section="content" />
            </div>
        </div>
    </div>
</f:be.container>
