
<label for="matrikelnr">
    <f:translate key="tx_rere_domain_model_pruefling.matrikelnr" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="matrikelnr" /><br />
<label for="vorname">
    <f:translate key="tx_rere_domain_model_pruefling.vorname" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="vorname" /><br />
<label for="nachname">
    <f:translate key="tx_rere_domain_model_pruefling.nachname" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="nachname" /><br /> 