<table class="tx-rere" >
    <tr>
        <td>
    <f:translate key="tx_rere_domain_model_fach.fachnr" />
</td>
<td>
    {fach.fachnr}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_rere_domain_model_fach.fachname" />
</td>
<td>
    {fach.fachname}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_rere_domain_model_fach.pruefer" />
</td>
<td>
    {fach.pruefer}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_rere_domain_model_fach.notenschema" />
</td>
<td>
    {fach.notenschema}
</td>
</tr>
</table>