/* Stylesheet
* Datum: 29.11.2014
*
*
* Kapietel:
* ----------------------
* 1. Body Kalibrierung
* 2. Inhalt + Content Seiten Gestaltung
*/

/*==================================================================
* Kapitel 1: Body Calibrierung
  ==================================================================
*/
/*Layout Reset*/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
input, submit{
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    text-align: left;
    background-color: #fff;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    overflow-y: scroll;
    line-height: 18px;
}


/*==================================================================
* Kapitel 1: Body Calibrierung
  ==================================================================*/
#wrapper{
    width: 100%;
    margin: auto;
}
.clear{
    clear: both;
}

/*==================================================================
* Kapitel 2
  ==================================================================*/

.highlight{
    background-color: #5bc0de;
}
.greenfont{
    color: #a3d950;
}
/*Klassen fuer Index*/

.navbarposition{
    padding-top: 6px;
}

.modulloeschenbutton{
    position: relative;
    float: right;
}

.addfachbtn{
    margin-top: 20px;
}

.modulloeschenbutton:after{
    clear: both;
}

.modultitle{
    margin-top: 5px;
}

.panel-title{
    padding-bottom: 35px;
}

.panel-body ul{
    padding-left: 15px;
    padding-bottom: 50px;
}

.panel-body ul li{
    list-style-type: none;
}

.highlightGreen{
    background-color: #a3d950;
}

.typo3-docheader-buttons{
    height: 23px;
}

#typo3-docbody form{
    margin-bottom: 0;
}

.aciveinterval{
    color: #a3d950;
}
.inactiveinterval{
    color: #fff;
}

.found{
    color: #a3d950;
}

.notfound{
    color: red;
}

.delhinweis{
    color: #abaaaa;
    font-size: 11px;
    text-align: right;
    float: right;
    padding-top: 11px;
}

.waitingpanel{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    height:100%;
    width:100%;
    background:#000;
    filter:alpha(opacity=60);
    -moz-opacity:.60;
    opacity:.60;
    display:none;
    text-align: center;
    padding-top: 150px;
}

.spinningicon{
    color: #fff;
    text-align: center;
}
