<f:layout name='RereFrontend'/>
<f:section name='test'>
    <div class='tb'>
	<div class="container-fluid wrapper">
	    <div class="row">
		<div name="breadcrumb" class="col-md-12">
		    <ol class="breadcrumb">
			<li class="active">Prüfungsleistung anzeigen</li>
		    </ol>
		</div>
	    </div>
	    <div class="col-md-12">
		<p>
		<f:if condition="{error}==login">
		    <f:then>Sie sind nicht eingeloggt. Bitte loggen Sie sich ein um Ihre Noten einzusehen.</f:then>
		    <f:else>Sie sind noch keine Prüfung zugewiesen.</f:else>
		</f:if>
		</p>
	    </div>
	</div>
    </div>
</f:section>