<f:layout name='RereFrontend'/>
<f:section name='test'>

    <div class='tb'>
	<div class="container-fluid wrapper">
	    <div class="row">
		<div name="breadcrumb" class="col-md-12">
		    <ol class="breadcrumb">
			<li class="active"><f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigenerrorbread"/></li>
		    </ol>
		</div>
		<div class="col-md-12">
		    <h1><f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigenerror"/> </h1>
		</div>
	    </div>
	    <div class="col-md-12">
		<p>
		<f:if condition="{error}==login">
		    <f:then><f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigen.login"/></f:then>
		    <f:else><f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigen.fach"/></f:else>
		</f:if>
		</p>
	    </div>
	</div>
    </div>
</f:section>