<f:layout name='RereFrontend'/>
<f:section name='test'>


    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active"><f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigen"/></li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1><f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigen"/> </h1>
            </div>
        </div>

	<div class="col-md-12">
	    <p>
		fehler keine prüfung gefunden
	    <f:translate key="tx_rere_Ueberschrift_PruefungsleistungAnzeigen.err"/>
	    </p>
	</div>

    </div>
</f:section>