
<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />

    <script type="text/javascript">

        // Holt alle Prüflinge Werte für das Chart
        var array = {f:format.htmlentitiesDecode(value:chartarray)};

        // Generiert das Chart
        $(document).ready(function () {

        });
    </script>

    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active">Prüfling zuweisen</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Prüfling zuweisen</h1>
            </div>
            <div class="col-md-12">
                <h4><strong>{fach}</strong> aus <strong>{modul}</strong> in <strong>{semester}</strong></h4>
                <p> Geben Sie eine MatrikelNr oder einen Namen ein um nach einem Prüfling zu suchen.</p>
                <p> Weisen Sie den Prüfling dann mit Enter dem Fach zu. Alternativ können Sie eine UserGroup hinzufügen. </p>
            </div>
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true" ></span></div>
                                        <input type="text" id="suche" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Nach MatrikelNr suchen" placeholder="Matrikel Nummer">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true" ></span></div>
                                        <select class="form-control" data-toggle="tooltip" data-placement="bottom" title="UserGroup auswählen">
                                            <f:debug>{feusergroups}</f:debug>
                                            <f:for each="{feusergroups}" as="group">
                                                <option>{group.title}</option>
                                            </f:for>
                                        </select>
                                    </div>
                                </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-12">
                <h4>Bereits zugewiesen:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="table-responsive table-hover">
                    <table id="grades" class="table tx_rere">
                        <thead>
                            <tr>
                                <th>MatrikelNr</th>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>Eintrag löschen</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <f:for each="{fach.prueflings}" as="pruefling">
                            <tr>
                            <f:form name="updatePruefling">
                                <td><span class="value">{pruefling.matrikelnr}</span></td>
                                <td><span class="value">{pruefling.vorname}</span></td>
                                <td><span class="value">{pruefling.nachname}</span></td>
                                <td>
                                <f:link.action class="delete" action="delete" onclick="delentry('Möchten Sie den Pruefling mit der Matrikelnr: {pruefling.matrikelnr} wirklich löschen?', $(this).attr('href'));
                                        return false;" arguments="{pruefling : pruefling}"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Löscht diesen Datensatz"></span></f:link.action>
                                </td>
                                </tr>
                            </f:form>
                        </f:for>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Lädt den Code für den Bestätigungs Dialog-->
    <f:render partial="LoeschenDialog" />

</f:section>
