
<f:layout name="rere" />

<f:section name="content">


    <f:flashMessages />

    <div class="container-fluid wrapper">

        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active">Prüfling anlegen</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Prüfling anlegen</h1>
            </div>
        </div>

        <f:render partial="FormErrors" />

        <f:form action="create" controller='Pruefling'  name="newPruefling" object="{newPruefling}">
            <div class="row">
                <div class="col-md-7">
                    <form class="form-horizontal" role="form">

                        <!--Eingabefeld für Name-->
                        <div class="form-group">
                            <p></p>
                            <label for="eingabefeldName" class="col-sm-3 control-label">
                                <f:translate key="tx_rere_domain_model_pruefling.nachname" /> <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <f:form.textfield property="nachname" class="form-control gettooltip" id="eingabefeldName" placeholder="Name" title="Name hier eingeben" />
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für Vorname-->
                        <div class="form-group">
                            <label for="eingabefeldVorname" class="col-sm-3 control-label">
                                <f:translate key="tx_rere_domain_model_pruefling.vorname" /> <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <f:form.textfield property="vorname"  class="form-control gettooltip" id="eingabefeldVorname" placeholder="Vorname" title="Vorname hier eingeben"/>
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für Matrikel-Nr-->
                        <div class="form-group">
                            <label for="eingabefeldMatrikel-Nr" class="col-sm-3 control-label">
                                <f:translate key="tx_rere_domain_model_pruefling.matrikelnr" /> <span class="required">*</span>
                            </label>
                            <div class="col-sm-9">
                                <f:form.textfield property="matrikelnr" class="form-control gettooltip" id="eingabefeldMatrikel-Nr" placeholder="Matrikel-nr" title="Matrikel-Nr hier eingeben"/>
                                <br>
                            </div>
                        </div>

                        <!--Eingabefeld für E-Mail-->
                        <div class="form-group">
                            <label for="eingabefeldE-Mail" class="col-sm-3 control-label">E-Mail *</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control gettooltip" id="eingabefeldE-Mail" placeholder="E-Mail" title="E-Mail hier eingeben">
                                <br>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <div class="col-sm-12">
                                    <label>
                                        <f:form.radio name="speichern" value="speichernundzurueck" checked="1"/>
                                        Speichern & zurück
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label>
                                        <f:form.radio name="speichern" value="speichernundnaechster" />
                                        Speichern & nächster
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Anlegen</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </f:form>
    </div>
</f:section>