<f:layout name='RereFrontend'/>
<f:section name='test'>
    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Prüfungsleistung anzeigen</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Prüfungsleistungen von {pruefling.nachname}, {pruefling.vorname}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <b>Ihre Matrikelnr:</b> {pruefling.matrikelnr}<br><br>
                <b>Ihr Gesamtdurchschnitt: </b> {gesamtDurchschnitt}  <br><br>
            </div>
        </div>

        <f:for each="{module}" as="modul">
            <div class="row">
                <div class="col-md-12">
                    <h4>{modul.modulname} - {modul.modulnr} - {modul.gueltigkeitszeitraum}<br></h4>
                    <f:for each="{modul.faecher}" as="fach">

                        <!-- Fach Ausgabe -->

                        <div class="panel-group tx_rere" id="accordion" role="tablist">

                            <div class="panel panel-default" role="tablist">
                                <div class="panel-heading" role="tab" id="{fach.fachname}">
                                    <div class="panel-title">
                                        <span class="col-md-8 modultitle">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#{fach.fachuid}" aria-expanded="false" aria-controls="collapse{fach.fachnme}">
                                                <f:if condition="{fach.datum}">{fach.datum}</f:if>
                                                <f:if condition="{fach.fachnr}">{fach.fachnr}</f:if>
                                                {fach.fachname} {fach.pruefer} - Note: {fach.note}</a>
                                        </span>
                                        <span class="col-md-4"></span>
                                    </div>
                                </div>
                                <div id="{fach.fachuid}" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="col-md-12">
                                                    <canvas id="{fach.fachuid}chart" width="400" height="150"></canvas>
                                                </div>
                                                <div class="col-md-12">
                                                    <h1><span class="greenfont">Ihre Note: {fach.note}</span></h1>
                                                </div>
                                                <textarea rows="4" cols="100" class="form-control" id="comment" readonly="true">{fach.kommentar}</textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="table-responsive table-hover">
                                                    <table id="grades" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Note</th>
                                                                <th>Vorkommen</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        <f:for each="{fach.details.notenVerteilungArray}" as="wert" iteration="iterator">
                                                            <tr>
                                                                <td><span class="value">{wert.notenname}</span></td>
                                                                <td>{wert.wert}</td>
                                                            </tr>
                                                        </f:for>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <div class="table-responsive table-hover">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Anzahl der Prüflinge:</td><td id="AnzahlDerPrueflinge">{fach.details.anzahlPrueflinge}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&empty; Durchschnitt</td><td>{fach.details.durchschnitt}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>


                                            <script>

                                                // Holt die Werte für das Chart
                                                var array = {f:format.htmlentitiesDecode(value:fach.details.chartArray)};
                                                //Holt die Note für die Makierung
                                                var value = {f:format.htmlentitiesDecode(value:fach.note)};
                                                        var fachuid = {f:format.htmlentitiesDecode(value:fach.fachuid)};
                                                window.onload = function () {
                                                    if (window.jQuery) {
                                                        genchart(array, fachuid + "chart");
                                                    }
                                                }</script>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </f:for>

    </div>


    <script>
        function highlighttable(value) {
            $("table tr").each(function (index) {
                if (index !== 0) {
                    $row = $(this);
                    var id = $row.find("td:first").text();
                    if (id.indexOf(value) === 0) {
                        // Setzt die Farbe
                        $row.addClass("highlightGreen");
                        return false;
                    }
                }
            });
        }
    </script>


</f:section>