<f:layout name='RereFrontend'/>
<f:section name='test'>
    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Prüfungsleistung anzeigen</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Prüfungsleistungen anzeigen</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <f:form id="auswahlisteFaecherForm">
                    <f:form.select name="fachid" options="{fachliste}" optionValueField="uid" optionLabelField="fachname" id="auswahlisteFaecherSelect" />
                </f:form>
                <br>
            </div>
            <div class="col-md-9"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <canvas id="gradeChart" width="400" height="150"></canvas>
                </div>
                <div class="col-md-12">
                    <h1><span class="greenfont">Ihre Note: {note.wert}</span></h1>
                </div>
                <textarea rows="4" cols="100" class="form-control" id="comment">{note.kommentar}</textarea>
            </div>
            <f:debug>{test}</f:debug>
            <div class="col-md-3">
                <div class="table-responsive table-hover">
                    <table id="grades" class="table">
                        <thead>
                            <tr>
                                <th>Note</th>
                                <th>Vorkommen</th>
                            </tr>
                        </thead>
                        <tbody>

                        <f:for each="{notenVerteilungArray}" as="wert" iteration="iterator">
                            <tr>
                                <td><span class="value">{wert.notenname}</span></td>
                                <td>{wert.wert}</td>
                            </tr>
                        </f:for>

                        </tbody>
                    </table>
                </div>
                <br>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Anzahl der Prüflinge:</td><td id="AnzahlDerPrueflinge">{anzahlPrueflinge}</td>
                            </tr>
                            <tr>
                                <td>Durchschnitt</td><td>{durchschnitt}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <script>
        // Holt die Werte für das Chart
        var array = {f:format.htmlentitiesDecode(value:chartArray)};
        //Holt die Note für die Makierung
        var value = {f:format.htmlentitiesDecode(value:note.wert)};
        window.onload = function () {
            if (window.jQuery) {
                // Generiert das Chart
                genchart(array);
                //Sucht die Notenzeile in der Tabelle und macht sie Grün
                $("table tr").each(function (index) {
                    if (index !== 0) {
                        $row = $(this);
                        var id = $row.find("td:first").text();
                        if (id.indexOf(value) === 0) {
                            // Setzt die Farbe
                            $row.addClass("highlightGreen");
                            return false;
                        }
                    }
                });
                //Fachwechsel
                $('#auswahlisteFaecherSelect').change(function () {
                    $('#auswahlisteFaecherForm').submit();
                });
            }
        }
    </script>
</f:section>