<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />
    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active">{title}</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>{title}</h1>
                <br>
            </div>
        </div>

        <f:form action="importPrueflinge" class="form-horizontal" method="post" enctype="multipart/form-data" >

            <!-- Ausgabe welche Prüflinge nicht importiert wurden -->
            <f:if condition="{errorlist} != ''">
                <b><f:translate key="tx_rere_import.error"/> </b><br><br>
                {errorlist}
                <br><br>
            </f:if>

            <div class="row">
                <div class="col-md-7">
                    <f:form.hidden name="type" value="{type}" />
                    <div class="form-group">
                        <label for="import" class="col-sm-3 control-label">{lable}</label>
                        <div class="col-sm-9">
                            <f:form.upload name="import" id="import" class="form-control"/>
                            <br>
                        </div>
                    </div>
                    <f:if condition="{type}== 'prueflinge'">
                        <div class="form-group">
                            <label for="usergroup" class="col-sm-3 control-label">Usergroup *</label>
                            <div class="col-sm-9">
                                <f:form.select name="usergroup" options="{usergroups}" value="{usergroups.uid}" optionLabelField="title" class="form-control gettooltip" title="FE-Usergroup"/>
                                <br>
                            </div>
                        </div>
                    </f:if>
                    <div class="form-group">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"><f:translate key="tx_rere_button.sichern"/></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                </div>
            </div>

            <f:if condition="{type}== 'prueflinge'">
                <div class="row">
                    <div class="col-md-12">
                        <h1><f:translate key="tx_rere_Import.Ueberschrift"/></h1>
                        <p>
                            <f:translate key="tx_rere_Text.Import1"/>
                        </p>
                        <p>
                            <f:translate key="tx_rere_Text.Import2"/>
                        </p>
                        <p>
                            <f:translate key="tx_rere_Text.Import3"/>
                        </p>
                        <p>
                            <a href="{f:uri.resource(path:'csv_example.csv')}" target="_blank">Download Example CSV</a>
                        </p>

                        <img src="{f:uri.resource(path:'images/csv_example.png')}" style="width: 100%" alt="CSV-Example"/>

                    </div>
                </div>
            </f:if>
        </f:form>
    </div>
</f:section>