 
<label for="wert">
    <f:translate key="tx_rere_domain_model_note.wert" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="wert" /><br />
<label for="kommentar">
    <f:translate key="tx_rere_domain_model_note.kommentar" />
</label><br />
<f:form.textfield property="kommentar" /><br />
<label for="fach">
    <f:translate key="tx_rere_domain_model_note.fach" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="fach" /><br />
<label for="pruefling">
    <f:translate key="tx_rere_domain_model_note.pruefling" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="pruefling" /><br />