
<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />

    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active">Notenverwaltung</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Notenverwaltung</h1>
            </div>
            <div class="col-md-12">
                <h4><strong>Fach</strong> aus <strong>Modul</strong> in <strong>Semester</strong></h4>
            </div>
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navi">
                            <ul class="nav navbar-nav">
                                <li class="active" data-toggle="tooltip" data-placement="bottom" title="Zeigt alle Noten an"><a href="#" >Alle anzeigen</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Zeigt nur eingetragene Noten an">Nur eingetragene Prüfungen</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Zeigt noch zu erledigende an">Nur ohne Prüfungen</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li>
                                    <form class="navbar-form navbar-left" role="search">
                                        <div class="form-group input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true" ></span></div>
                                            <input type="text" id="suche" class="form-control" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Nach MatrikelNr suchen" placeholder="Matrikel Nummer">
                                        </div>
                                    </form>
                                <li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Importiert Prüflinge in dies Fach">Fach importeren</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Exportiert das Fach mit allen Noten">Fach exportieren</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="table-responsive table-hover">
                    <table id="grades" class="table tx_rere">
                        <thead>
                            <tr>
                                <th>MatrikelNr</th>
                                <th>Name</th>
                                <th>Vorname</th>
                                <th><f:translate key="tx_rere_domain_model_note.wert" /></th>
                        <th><f:translate key="tx_rere_domain_model_note.kommentar" /></th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{notes}" as="note">

                            <script type="text/javascript">

                                var array = {f:format.htmlentitiesDecode(value:chartarray)};

                                $(document).ready(function () {
                                    genchart(array);
                                });
                            </script>

                            <tr>
                            <f:form name="updateNote">
                                <td><span class="value">123456</span><input type="text" class="form-control hidden" value="123456"/></td>
                                <td><span class="value">Max</span><input type="text" class="form-control hidden" value="Max"/></td>
                                <td><span class="value">Mustermann</span><input type="text" class="form-control hidden" value="Mustermann"/></td>
                                <td><f:form.select property="{note.wert}" options="{options}" value="{note.wert}" class="form-control" title="Bitte eine Note auswählen"/></td>
                                <td><textarea class="form-control" rows="1" placeholder="Kommentar" data-toggle="tooltip" data-placement="bottom" title="Kommentar zur Note">{note.kommentar}</textarea></td>
                                <td>
                                <f:link.action class="delete" action="delete" onclick="delentry(123456, $(this).attr('href'));
                                        return false;" arguments="{note : note}"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Löscht diesen Datensatz"></span></f:link.action>
                                </tr>
                            </f:form>
                        </f:for>
                        <tr>
                        <f:form action="create" name="newNote" object="{newNote}">
                            <td><input type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Nach MatrikelNr suchen" placeholder="Matrikel Nr."></td>
                            <td><input type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Vorname eingeben" placeholder="Vorname"></td>
                            <td><input type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Nachname eingeben" placeholder="Nachname"></td>
                            <td><f:form.textfield property="notenr" /><f:form.select property="wert" options="{options}" class="form-control" title="Bitte eine Note auswählen"/></td>
                            <td><f:form.textarea property="kommentar" class="form-control" rows="1" placeholder="Kommentar" title="Kommentar zur Note" /></td>
                            <td><button type='submit'><span class='glyphicon glyphicon-plus' aria-hidden='true' data-toggle='tooltip' data-placement='bottom' title='Eintrag speichern'></span></button></td>
                        </f:form>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <canvas id="gradeChart" width="400" height="400"></canvas>
                <div class="table-responsive table-hover">
                    <br>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Angemeldete Prüflinge</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Eingetragene Noten</td>
                                <td>{eingetragen}</td>
                            </tr>
                            <tr>
                                <td>Notendurchschnitt</td>
                                <td>{avg}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--- Popup Confirm -->
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popuplabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="popupTitle"></h4>
                </div>
                <div class="modal-body">
                    <span class="popuptext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="" id="delbuttonmodal" class="btn btn-default" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</f:section>