
<f:layout name="rere" />

<f:section name="content">

    <f:flashMessages />

    <div class="container-fluid wrapper">
        <div class="row">
            <div name="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><f:link.action controller="Modul" action="list">Result Repository</f:link.action></li>
                    <li class="active">Notenverwaltung</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h1>Notenverwaltung</h1>
            </div>
            <div class="col-md-12">
                <h4><strong>{fach.fachname}</strong> aus <strong>{modul.modulname}</strong> in <strong>{modul.gueltigkeitszeitraum}</strong></h4>
            </div>
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navi">
                            <ul class="nav navbar-nav">
                                <li class="active" data-toggle="tooltip" data-placement="bottom" title="Zeigt alle Noten an"><a href="#" >alle anzeigen</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Zeigt nur eingetragene Noten an">eingetragene anzeigen</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Zeigt noch zu erledigende an">nicht eigetragene anzeigen</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li>
                                    <form class="navbar-form navbar-left" role="search">
                                        <div class="form-group input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true" ></span></div>
                                            <input type="text" id="suche" class="form-control" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Nach MatrikelNr suchen" placeholder="Matrikel Nummer">
                                        </div>
                                    </form>
                                <li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><f:link.action controller="Import" action="new" arguments="{type:'fach'}" class="gettooltip" title="Importiert Prüflinge in dies Fach" >Fach importeren</f:link.action></li>
                                <li><f:link.action controller="Export" class="gettooltip" action="exportFach" title="Exportiert das Fach mit allen Noten" >Fach exportieren</f:link.action></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="table-responsive table-hover">
                    <table id="grades" class="table tx_rere">
                        <thead>
                            <tr>
                                <th>MatrikelNr</th>
                                <th>Name</th>
                                <th>Vorname</th>
                                <th><f:translate key="tx_rere_domain_model_note.wert" /></th>
                        <th><f:translate key="tx_rere_domain_model_note.kommentar" /></th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{fach.matrikelnr}" as="pruefling">
                            <tr>
                            <f:form action="update" id="editnote{note.uid}" id="editnote{note.uid}" >
                                <td><f:form.hidden name="noteuid" class="noteuid" value="{note.uid}" /><span class="value">{pruefling.matrikelnr}</span><input type="text" class="form-control hidden" value="{pruefling.matrikelnr}"/></td>
                                <td><span class="value">{pruefling.vorname}</span><input type="text" class="form-control hidden" value="Max"/></td>
                                <td><span class="value">{pruefling.nachname}</span><input type="text" class="form-control hidden" value="Mustermann"/></td>
                                <td><f:form.select name="wert" options="{options}" value="{note.wert}" class="form-control gettooltip sendNote" title="Bitte eine Note auswählen"/></td>
                                <td>
                                <f:form.textfield type="hidden" name="fach" id="fach" value="{fach.uid}" />
                                <f:form.textfield  type="hidden" name="modul" id="modul" value="{modul.uid}" />
                                <f:form.textarea name="kommentar" class="form-control gettooltip sendNote" rows="1" placeholder="Kommentar" title="Kommentar zur Note" value="{note.kommentar}"/></td>
                                <td><f:link.action class="delete" action="delete" onclick="delentry('Wollen Sie den Pruefling mit Matrikelnummer 12345 wirklich aus diesem Fach loeschen?', $(this).attr('href'));
                                        return false;" arguments="{note : note,fach:fach.uid,modul:modul.uid}"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Löscht diesen Datensatz"></span></f:link.action></td>
                            </f:form>
                            </tr>
                        </f:for>

                        <script type="text/javascript">

                            // Holt die Werte für das Chart
                            var array = {f:format.htmlentitiesDecode(value:chartarray)};

                            // Generiert das Chart
                            $(document).ready(function () {
                                genchart(array);
                            });
                        </script>

                        <tr>
                            <!--
                        <f:form action="create" name="newNote" object="{newNote}">
                            <td><input type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Nach MatrikelNr suchen" placeholder="Matrikel Nr."></td>
                            <td><input type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Vorname eingeben" placeholder="Vorname"></td>
                            <td><input type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Nachname eingeben" placeholder="Nachname"></td>
                            <td><f:form.select property="wert" options="{options}" class="form-control gettooltip" title="Bitte eine Note auswählen"/></td>
                            <td>
                            <f:form.textfield type="hidden" name="fach" id="fach" value="{fach.uid}" />
                            <f:form.textfield  type="hidden" name="modul" id="modul" value="{modul.uid}" />
                            <f:form.textarea property="kommentar" class="form-control gettooltip" rows="1" placeholder="Kommentar" title="Kommentar zur Note" /></td>
                            <td><button type='submit'><span class='glyphicon glyphicon-plus' aria-hidden='true' data-toggle='tooltip' data-placement='bottom' title='Eintrag speichern'></span></button></td>
                        </f:form>
                        </tr>-->

                            </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <canvas id="gradeChart" width="400" height="400"></canvas>
                <div class="table-responsive table-hover">
                    <br>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Angemeldete Prüflinge</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Eingetragene Noten</td>
                                <td>{eingetragen}</td>
                            </tr>
                            <tr>
                                <td>Notendurchschnitt</td>
                                <td>{avg}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Lädt den Code für den Bestätigungs Dialog-->
    <f:render partial="LoeschenDialog" />
</f:section>